n8n_workflows/ecommerce-agents-workflow-template.json
{
  "name": "E-commerce AI Agents Workflow v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Analysis Trigger",
      "type": "@n8n/n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/shopify",
        "responseMode": "lastNode"
      },
      "id": "shopify-webhook",
      "name": "Shopify Webhook",
      "type": "@n8n/n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        420
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/agents/analytics",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"action\": \"daily_analysis\",\n  \"data\": $json\n}",
        "options": {}
      },
      "id": "analytics-agent",
      "name": "Analytics Agent",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        320
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/agents/operations",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"action\": \"inventory_optimization\",\n  \"analytics_data\": ($json.data ?? $json)\n}",
        "options": {}
      },
      "id": "operations-agent",
      "name": "Operations Agent",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        320
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/agents/marketing",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"action\": \"campaign_optimization\",\n  \"operations_data\": ($json.data ?? $json)\n}",
        "options": {}
      },
      "id": "marketing-agent",
      "name": "Marketing Agent",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        320
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/agents/strategy",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"action\": \"growth_strategy\",\n  \"marketing_data\": ($json.data ?? $json)\n}",
        "options": {}
      },
      "id": "strategy-agent",
      "name": "Strategy Agent",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        320
      ]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/reports/comprehensive",
        "options": {}
      },
      "id": "comprehensive-report",
      "name": "Fetch Comprehensive Report",
      "type": "@n8n/n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        320
      ]
    },
    {
      "parameters": {},
      "id": "workflow-end",
      "name": "Workflow End",
      "type": "@n8n/n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1960,
        320
      ]
    }
  ],
  "connections": {
    "Daily Analysis Trigger": {
      "main": [
        [
          {
            "node": "Analytics Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Webhook": {
      "main": [
        [
          {
            "node": "Analytics Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytics Agent": {
      "main": [
        [
          {
            "node": "Operations Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Operations Agent": {
      "main": [
        [
          {
            "node": "Marketing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Agent": {
      "main": [
        [
          {
            "node": "Strategy Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strategy Agent": {
      "main": [
        [
          {
            "node": "Fetch Comprehensive Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Comprehensive Report": {
      "main": [
        [
          {
            "node": "Workflow End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ecommerce"
    },
    {
      "name": "ai-agents"
    }
  ],
  "versionId": "2"
}
